h1 {
    color: rgb(0, 255, 13);
  }
  font-family: 'Do Hyeon', sans-serif;
font-family: 'Jua', sans-serif;
h2 {
    color: rgb(78, 78, 78);
  }
  h3 {
    color: rgb(54, 54, 54);
  }
  a:link {
    color : rgb(0, 0, 0);
  }
  a:visited {
    color : black;
  }
  a:hover {
    color : rgb(255, 0, 0);
  }